@import "custom.scss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --themeColor: #111be2;
  --themeDarkerColor: #0d1197;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-geist-sans);
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.text-theme {
  color: var(--themeColor) !important;
}

.theme-button {
  color: #fdfdfd;
  font-weight: 600;
  background: var(--themeDarkerColor);
  transition: .3s filter, .3s transform;
}

.theme-button:hover {
  filter: brightness(1.1);
  transform: translateY(-5px);
}

.theme-button:active {
  transform: scale(.95);
}